<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boolzapp</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/app.js"></script>
</head>
<body>
  <main id="root" class="">
    <div class="background-green"></div>
    <div class="background-gray"></div>

    <div class="containerApp d-flex flex-row">
      
      <!-- section Left -->
      <section class="containerLeft d-flex flex-column">
        <!-- Left nav -->
        <div class="nav d-flex align-items-center">
          <div class="avatarContainer">
            <img src="../img/avatar_io.jpg" alt="avatar_io" class="w-100 rounded-circle p-2">
          </div>
          <div class="nav_userNameContainer py-2 flex-grow-1">
            <h3 class="fs-6 m-0 fw-bold">Nome Utente</h3>
          </div>
          <div class="nav_btnContainer flex-shrink-0 p-2 pe-3">
            <button class="nav-btn statusBtn"><i class="fas fa-circle-notch"></i></button>
            <button class="nav-btn newchatBtn"><i class="fas fa-comment-alt"></i></button>
            <button class="nav-btn menuBtn"><i class="fas fa-ellipsis-v"></i></button>
          </div>
        </div>

        <!-- notifications -->
        <div class="notifications d-flex align-items-center">
          <div class="notifications_iconContainer rounded-circle m-2">
            <a href="#" class="notifications_iconContainer_iconLink"><i class="fas fa-bell-slash"></i></a>
          </div>
          <div class="notifications_textContainer flex-grow-1">
            <h3 class="fs-6 m-0">Ricevi notifiche di nuovi messaggi</h3>
            <a href="#" class="link-secondary">attiva notifiche desktop</a>
          </div>
        </div>

        <!-- search -->
        <div class="containerSearch d-flex align-items-center">
          <button class="btn containerSearch_btn" @click="searchFilter"><i class="fas fa-search"></i></button>
          <input type="text" placeholder="Cerca o inizia una nuova chat" class="containerSearch_input" v-model="filterText" @keyup.enter="searchFilter">
        </div>

        <!-- contacts -->
        <div class="containerContacts d-flex flex-column">
          <!-- contact layout template -->
          <div class="contact d-flex" v-for="contact, i in filteredContacts" @click="onChatClick(contact, i)" :class="(i == activeChat.index) ? 'clicked' : '' ">
            <!-- display avatar -->
            <div class="contact_imgContainer avatarContainer">
              <img :src="createImgPath(contact.avatar)" alt="contact.avatar" class="w-100 rounded-circle p-2">
            </div>
            <!-- display contact info (name, last message and relative timestamp) -->
            <div class="contact_infoContainer flex-grow-1" >
              <h3 class="fs-5 text-dark contact_infoContainer_name">{{contact.name}}</h3>
              <h6>{{getLastMessage(contact.messages)}}</h6>
              <h6 class="contact_timestamp">{{lastSeen(contact.messages)}}</h6>
            </div>
          </div>
        </div>
      </section>

      <!-- section right -->
      <section class="containerRight d-flex flex-column">
        <!-- Rigth nav -->
        <div class="nav d-flex align-items-center">
          <div class="avatarContainer">
            <img :src="createImgPath(activeChat.avatar)" alt="avatar" class="w-100 rounded-circle p-2">
          </div>
          <div class="nav_userNameContainer flex-grow-1">
            <h3 class="fs-6 m-0 fw-bold">{{activeChat.name}}</h3>
            <h6 class="lastSeen">Ultimo accesso {{lastSeen(activeChat.messages)}}</h6>
          </div>
          <div class="nav_btnContainer flex-shrink-0 p-2 pe-3">
            <button class="nav-btn statusBtn"><i class="fas fa-search"></i></i></button>
            <button class="nav-btn newchatBtn"><i class="fas fa-paperclip"></i></i></button>
            <button class="nav-btn menuBtn"><i class="fas fa-ellipsis-v"></i></button>
          </div>
        </div>
        
        <!-- Chat Box -->
        <div class="containerMessages" ref="containerMessages">
          <!-- single message container -->
          <div class="message" v-for="message, i in activeChat.messages" :class="(message.status === 'sent') ? 'sent' : ''">          <!-- (noMessages == true) ? 'd-none' : ''  -->
            <div class="messageTextContainer" :class="(message.status === 'sent') ? 'background-sent' : '' ">
              <h2 class="message_text">{{message.text}}</h2>
              <h6 class="message_timeStamp">{{message.date}}</h6>
              <div class="dropdown message_popup">
                <button class="btn message_btn" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-chevron-down"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item active" href="#" @click="deleteMessageClick(i)">Delete message</a></li>
                  <li><a class="dropdown-item" href="#">Message info</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <!-- New Message container -->
        <div class="containerNewMessage d-flex align-items-center">
          <a href="#" class="containerNewMessage_icon"><i class="far fa-smile"></i></i></a>
          <input type="text" placeholder="Cerca o inizia una nuova chat" class="containerNewMessage_input" v-model="newMessageText" @keyup.enter="onAddClick">
          <button type="button" class="btn containerNewMessage_btn" :class="(newMessageText === '') ? 'd-none' : ''" @click="onAddClick"><i class="fas fa-paper-plane"></i></button>
          <a href="#" class="containerNewMessage_icon" :class="(newMessageText === '') ? '' : 'd-none'"><i class="fas fa-microphone"></i></a>
        </div>
      </section>

    </div>
  </main>
</body>
</html>